body,
html,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
  background: #f7f7f7;
  font-family: Roboto, sans-serif;
}

.text-extra-style {
  color: #44aedb;
}

#header {
  background-color: #44aedb;
  text-align: center;
  padding: 30px;
}

#header a {
  color: white;
  text-decoration: none;
}

#eatit-header-text {
  margin: 0;
}

h2 a:hover {
  opacity: 0.7;
}

#share-link-container {
  text-align: center;
  margin-top: 0;
  border-radius: 0;
}

.pizzas {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
}

.pizza-item {
  padding: 20px;
  overflow: auto;
  animation: rubberBand 1s;
  background-color: white;
  border-top: 1px dashed #eee;
}

.pizza-item:first-child {
  border-top: none;
}

.pizza-item-count {
  display: inline-block;
  border: 1px solid #44aedb;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
  color: #44aedb;
  min-width: 28px;
  text-align: center;
}

.pizza-item > * {
  vertical-align: middle;
}

.pizza-item .editable {
  transition: 0.3s ease all;
}

.pizza-item .editable span {
  color: #00ad30;
}

.pizza-item .editable:hover {
  cursor: pointer;
  color: #00ad30;
}

.pizza-item small.deletable span {
  color: #fff;
}

.pizza-item small.deletable:hover {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background: #db4444;
}

.pizza-item .name span,
.pizza-item small span {
  display: inline-block;
  transform: scale(0);
  transition: 0.3s all ease;
  width: 0;
}

#total-item-count {
  border-top: 2px solid #eee;
  font-size: 18px;
}

.timer {
  font-size: 3em;
}

.pizza-item .name.editable:hover span,
.pizza-item small.deletable:hover span {
  transform: scale(1);
  width: auto;
}

.timer {
  font-size: 3em;
}

.content {
  padding: 2%;
}

@media all and (min-width: 780px) {
  .content {
    padding: 0 20% 0 20%;
  }
}

.content h2 {
  text-align: center;
}

.clear {
  clear: both;
}

.container-part h3 {
  color: #1b1b1b;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.container-part {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #fff;
  margin: 20px 0 20px 0;
  overflow: hidden;
  background-color: white;
}

.container-content {
  padding: 20px;
}

.container-header {
  padding: 12px 20px;
  background: #44aedb;
  color: #fff;
  font-size: 20px;
}

.button {
  border: 1px solid #44aedb;
  font-size: 1.5rem;
  background-color: #44aedb;
  color: white;
  clear: both;
  float: right;
  padding: 8px 18px;
  font-size: 18px;
  border-radius: 4px;
  outline: 0;
  transition: all 0.15s ease;
  box-shadow: 0 4px 6px rgba(50, 71, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(59, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  background-color: #3d90b4;
  border-color: #3d90b4;
}

.button:active {
  box-shadow: none;
}

form input {
  display: block;
  width: 100%;
  border: 0;
  margin: 15px 0 15px 0;
  font-size: 2rem;
  border-bottom: 1px solid #44aedb;
}

.swish-box label {
  display: block;
  font-size: 2rem;
}

.pizza-item-user {
  background: #eee;
  padding: 3px 10px;
  border-radius: 50px;
  font-size: 16px;
  margin-left: 5px;
  transition: 0.3s all ease;
}

/*
The keyframes for the rubber band effect.
*/

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/*
Keyframes bounceInLeft
*/

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.tooltip {
  z-index: 1001;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px 10px;
  border-radius: 2px;
}

.tooltip.hide {
  opacity: 0;
}

.tooltip.show {
  opacity: 1;
}

.youtubevideo {
  display: none;
}

.center-qr {
  text-align: center;
  padding-bottom: 15px;
  border: 0px;
}

.toggle-share-link-qr:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.toggle-share-link-qr {
  display: inline-block;
  transition: all 0.15s ease;
}

/* SwishView button */
#swish-button {
  background-color: #fff;
  color: #000;
  border-color: #ccc;
  display: block;
  float: none;
  margin-top: 12px;
  text-align: center;
}

#swish-button img {
  vertical-align: middle;
  margin-right: 10px;
}

#swish-button:hover {
  background-color: #44aedb;
  border-color: #44aedb;
  color: #fff;
}

#swish-button:hover img {
  filter: brightness(100);
}

#swish-notice {
  text-align: center;
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  #share-link-container {
    font-size: 12px;
    margin-bottom: 0;
  }

  .content {
    padding: 12px;
  }

  .container-part {
    margin-top: 0;
    margin-bottom: 12px;
  }

  form input {
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .container-part h3 {
    font-size: 18px;
  }
}
