/* CSS declarations go here */
body {
    font-family: 'Open sans',sans-serif;
    background:#efefef;
    margin:0;
}
body.animated {
	-webkit-animation: color-shift 500ms ease-out infinite alternate;
	animation: color-shift 500ms ease-out infinite alternate;
}
h1#eatit-header-text {
    display:block;
    margin:0;
}

#header {
    width:100%;
    background: #09cdda;
    padding: 8px 0px 8px 0px;
    -webkit-box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.30);
    box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.30);
    position:relative;
}
.content {
    padding: 20px 30px 40px 30px;
    border-top:none;
    height:100%
}
.centered-body {
    width:1080px;
    margin: 0 auto;
}

@media screen and (max-width: 1080px) {
    .centered-body {
        width: auto;
        margin: 4px;
    }
}

@media only screen and (max-device-width: 700px) {
	input {
		width: 70%;
	}
	button {
		margin-bottom: 2em;
    }
}
input {
	background: transparent;
	border: 2px solid #0d3e5a;
	color: #0d3e5a;
}
input, button {
	font-size: 2em;
}
ul {
	list-style-type: none;
}
ul.pizzas {
    display:block;
    margin: 40px 0 40px 0;
    -webkit-padding-start:0px;
}
.pizza-item {
    display:block;
    width:100%;
    padding: 5px 7px 5px 7px;
    margin: 1px;
	font-size: 1.5em;
	position: relative;
    background:#fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.26);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px
    ;border-radius: 3px
}
.pizza-item small {
	font-size: 0.65em;
}
.pizza-item small.deletable:hover {
	cursor: pointer;
	color: #ee0000;
	text-decoration: line-through;
}
.pizza-item span.name:hover {
	color: #f36c71;
	cursor: pointer;
}
.pizza-item span.name:hover:after {
	content: "order same: " attr(data-name);
	background: #f36c71;
	color: black;
	padding: 3px;
	border: 2px solid #0d3e5a;
	position: absolute;
	top: -1em;
	left: 4em;
}
.order-box {
    background: #fff;
    width: 100%;
    padding: 10px 8px 5px 10px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.26);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 5px 0 20px 0;
    border-radius: 3px;
}
.timer {
	font-size: 3em;
	margin-left: 2em;
}
.animated .timer {
	-webkit-animation: bounce 500ms ease-out infinite alternate;
	animation: bounce 500ms ease-out infinite alternate;
}

@keyframes bounce {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(80px);
	}
}
@-webkit-keyframes bounce {
	from {
		-webkit-transform: translateY(0px);
	}
	to {
		-webkit-transform: translateY(80px);
	}
}

@keyframes color-shift {
	from {
		background: #f0c7ee;
	}
	to {
		background: #92E9FF;
	}
}

button {
	background-color:#599bb3;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:12px 15px;
	text-decoration:none;
}
button:hover {
	background-color:#408c99;
}
button:active {
	position:relative;
	top:1px;
}

::-webkit-input-placeholder {
   color: #599bb3;
}

:-moz-placeholder { /* Firefox 18- */
   color: #599bb3;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #599bb3;
}

:-ms-input-placeholder {
   color: #599bb3;
}
